html,body{
  margin:0px;
  height:100%;
}

.img-area{
  width: 400px;
  height: 221px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-image: url(https://lh3.googleusercontent.com/Q4LUWPuWpBbeH5JIEi3y9kAOP64j7esH4Iv7h0ThlNrIkGxvQA9DlyjtlqRs2rS4pS92d4UvlmxGoaQagkIUZet5bvoBr-C4zqmqti6fO6czo70pYyvrEGMi0lt9u16PS4exYi9Tw9g=w1920-h1080);
}

.img-area:before,
.img-area:after{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  position: absolute;
  transition: 0.3s ease;
}

.img-area:after{
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 1rem;
  background: pink;
  transform: translateY(-100%);
  content: attr(data-text);
}

.img-area:hover:before{
  transform: translateY(-50%);
}

.img-area:hover:after{
  transform: translateY(0);
}

.bg_heart{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
 overflow:hidden;
  background-image:url("https://p1-tt.byteimg.com/origin/tos-cn-i-qvj2lq49k0/7c204a5e79de461d85e22bf0c0d38e6a.jpg");
  background-size:100% 100%;
  z-index:-1;
}

.heart{
  position:absolute;
  top:-50%;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -m-transform:rotate(-45deg);
}
.heart:before{
  position:absolute;
  top:-50%;
  left:0;
  display:block;
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  border-radius:100%;
}
.heart:after{
  position:absolute;
  top:0;
  right:-50%;
  display:block;
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  border-radius:100%;
}

@keyframes love {
  0%{top:110%}
}
@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
.lilHearts{
  height:30px;
  width: 30px;
  position: absolute;
  top: 10px;
  background-color: #fb98be;
  transform: rotate(-45deg);
}
.lilHearts::before{
  content:"";
  height:30px;
  width: 30px;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  background-color: #fb98be;
}
.lilHearts::after{
  content:"";
  height:30px;
  width: 30px;
  border-radius: 50%;
  bottom: 50%;
  position: absolute;
  background-color: #fb98be;
}
#lilHeart0{
  left: 0%;
}
#lilHeart1{
  left: 11%;
}
#lilHeart2{
  left: 27%;
}
#lilHeart3{
  left: 43%;
}
#lilHeart4{
  left: 60%;
}
#lilHeart5{
  left: 77%;
}
#lilHeart6{
  left: 95%;
  animation-timing-function: ease;

}
/*animation making heart 0&3 fall slow*/
.slow{
  animation-name: slow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-play-state: ;
}
@keyframes slow {
   0%{
    top: 0px;
  }
  100%{
    top: 100%;
  }
}
/*animation making heart 1&5 fall fast*/
.fast{
  animation-name: fast;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-play-state: ;
}
@keyframes fast{
  0%{
    top: 0px;
  }
  100%{
    top: 100%;
  }
}
/*animation making heart 2&6 fall at medium speed*/
.med{
  animation-name: med;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-play-state: ;
}
@keyframes med{
  0%{
    top: 0px;
  }
  100%{
    top: 100%;
  }
}

/*typewriter text*/

.container{
  display: inline-block;
  font-family:cursive;
}

.type {
  display: inline-flex;
}

.type span {
  word-break: break-all;
  width: 0%;
  height: 1.2em;
  overflow: hidden;
  animation: t 10s linear infinite alternate;
}

.type span:before {
  content:'';
  display: inline-block;
}

@keyframes t{
  90%,100% {width:100%}
}

