html,body{
  margin:0px;
  height:100%;
}
.bg_heart{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
 overflow:hidden;
  background-image:url("https://p1-tt.byteimg.com/origin/tos-cn-i-qvj2lq49k0/7c204a5e79de461d85e22bf0c0d38e6a.jpg");
  background-size:100% 100%;
  z-index:-1;
}

.heart{
  position:absolute;
  top:-50%;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -m-transform:rotate(-45deg);
}
.heart:before{
  position:absolute;
  top:-50%;
  left:0;
  display:block;
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  border-radius:100%;
}
.heart:after{
  position:absolute;
  top:0;
  right:-50%;
  display:block;
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  border-radius:100%;
}

@keyframes love {
  0%{top:110%}
}
@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
.lilHearts{
  height:30px;
  width: 30px;
  position: absolute;
  top: 10px;
  background-color: #fb98be;
  transform: rotate(-45deg);
}
.lilHearts::before{
  content:"";
  height:30px;
  width: 30px;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  background-color: #fb98be;
}
.lilHearts::after{
  content:"";
  height:30px;
  width: 30px;
  border-radius: 50%;
  bottom: 50%;
  position: absolute;
  background-color: #fb98be;
}
#lilHeart0{
  left: 0%;
}
#lilHeart1{
  left: 11%;
}
#lilHeart2{
  left: 27%;
}
#lilHeart3{
  left: 43%;
}
#lilHeart4{
  left: 60%;
}
#lilHeart5{
  left: 77%;
}
#lilHeart6{
  left: 95%;
  animation-timing-function: ease;

}
/*animation making heart 0&3 fall slow*/
.slow{
  animation-name: slow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-play-state: ;
}
@keyframes slow {
   0%{
    top: 0px;
  }
  100%{
    top: 100%;
  }
}
/*animation making heart 1&5 fall fast*/
.fast{
  animation-name: fast;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-play-state: ;
}
@keyframes fast{
  0%{
    top: 0px;
  }
  100%{
    top: 100%;
  }
}
/*animation making heart 2&6 fall at medium speed*/
.med{
  animation-name: med;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-play-state: ;
}
@keyframes med{
  0%{
    top: 0px;
  }
  100%{
    top: 100%;
  }
}

/*typewriter text*/

.container{
  display: inline-block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  text-align:center;
  font-family:cursive;
}

h1{
  overflow: hidden;
  border-right: .15em black;
  width: 0;
  animation:
    typing 2.5s steps(75, end) forwards,
    blink .8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to{ width: 100% }
}

@keyframes blink {
  from { border-color: transparent; }
  to { border-color: black; }
}
